/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2014, 1:38:37 PM
    Author     : dp
*/

.back-button {
    position: absolute;
    top: 10px;
}


.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.ui-page .ui-content .ui-listview .ui-li-desc, ul {
    white-space: normal;
    font-size: 18px;
}​


.full-height-wrapper {
}

.full-height-wrapper-content {
    vertical-align: middle;
    text-align:center;
    
}

.gratulation
{
    background-image: url(../img/mixed/gratulation.png);
    background-size: contain;
    background-repeat:no-repeat;
    vertical-align: middle;
    background-position: center center;
}