.back-button {
    position: absolute;
    top: 10px;
}


.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.ui-page .ui-content .ui-listview .ui-li-desc{
    white-space: normal;
}​

label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}