.back-button {
    position: absolute;
    top: 10px;
}


.ui-progressbar {
position: relative;
}

.progress-label {
position: absolute;
width: 100%;
text-align: center;
top: 4px;
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
}
